body {
  font-family: "Roboto", Arial, sans-serif;
  background: #f8f8f8;
  font-size: 16px;
  line-height: 1.8;
  font-weight: 400;
  color: #999999;
}

a, button {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  color: #37b5b6;
  text-decoration: none;
}

a:hover, a:focus, button:hover, button:focus {
  text-decoration: none;
  color: #37b5b6;
  outline: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5,
.h1, .h2, .h3, .h4, .h5 {
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 400;
}

.ftco-navbar-light {
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  -webkit-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.ftco-navbar-light.scroll {
  background-color: #37b5b6;
  padding: 0;
}

.ftco-navbar-light.scroll .navbar-nav>.nav-item>.nav-link.activeme {
  background: #41C9E2;
  color: #fff;
  position: relative;
}

.ftco-navbar-light.scroll .navbar-nav>.nav-item>.nav-link.activeme:after {
  position: absolute;
  bottom: -10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-color: #41C9E2 transparent transparent transparent;
}

@media (max-width: 991.98px) {
  .ftco-navbar-light.scroll {
    padding: 15px 0 !important;
  }

  .ftco-navbar-light.scroll .navbar-nav>.nav-item>.nav-link.activeme {
    background: transparent;
    color: #fff !important;
  }

  .ftco-navbar-light.scroll .navbar-nav>.nav-item>.nav-link.activeme:after {
    display: none;
  }
}

@media (max-width: 991.98px) {
  .ftco-navbar-light {
    background: #37b5b6 !important;
  }
}

.ftco-navbar-light .navbar-brand {
  color: #fff;
  padding: 0;
  position: relative;
  z-index: 0;
}

.ftco-navbar-light .navbar-brand:hover, .ftco-navbar-light .navbar-brand:focus {
  color: #fff !important;
}

@media (max-width: 767.98px) {
  .ftco-navbar-light .navbar-brand {
    color: #fff;
  }
}

@media (max-width: 991.98px) {
  .ftco-navbar-light .navbar-nav {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media (max-width: 767.98px) {
  .ftco-navbar-light .navbar-nav {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: 0;
  }
}

.ftco-navbar-light .navbar-nav .dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.ftco-navbar-light .navbar-nav>.nav-item>.nav-link {
  font-size: 15px;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  padding-left: 25px;
  padding-right: 25px;
  color: rgba(255, 255, 255, 0.7);
  font-weight: 500;
}

.ftco-navbar-light .navbar-nav>.nav-item>.nav-link span {
  position: relative;
  display: block;
  padding-bottom: 2px;
}

@media (max-width: 991.98px) {
  .ftco-navbar-light .navbar-nav>.nav-item>.nav-link span {
    display: inline-block;
  }
}

@media (max-width: 991.98px) {
  .ftco-navbar-light .navbar-nav>.nav-item>.nav-link {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 1rem;
    padding-top: 0;
  }
}

.ftco-navbar-light .navbar-nav>.nav-item>.nav-link.activeme {
  color: #fff;
  position: relative;
  z-index: 0;
}

@media (max-width: 767.98px) {
  .ftco-navbar-light .navbar-nav>.nav-item.activeme>a {
    color: #fff;
    background: transparent;
  }
}

.ftco-navbar-light .navbar-toggler {
  border: none;
  color: rgba(255, 255, 255, 0.9) !important;
  cursor: pointer;
  padding-right: 0;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: .1em;
}

.ftco-navbar-light .navbar-toggler:hover, .ftco-navbar-light .navbar-toggler:focus {
  text-decoration: none;
  color: #37b5b6;
  outline: none !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.navbar-brand {
  font-weight: 800;
  font-size: 20px;
  color: #fff;
  z-index: 3;
  position: relative;
  line-height: 1.1;
}

@media (max-width: 575.98px) {
  .navbar-brand {
    line-height: 1;
  }
}